* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "inter";
  src: url(./../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: "work-sans";
  src: url(./../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}
header {
  background-color: #000000;
  color: white;
  text-align: center;
  padding-inline: 5%;
}
header .line_top {
  border: 1px solid rgba(255, 255, 255, 0.302);
  height: 150px;
  width: 1px;
  margin-left: 50%;
}
header .textbox_header {
  width: 35vw;
  height: 15vh;
  margin: 5px auto 20% auto;
}
header .textbox_header h1 {
  font-family: inter;
  font-size: 4rem;
  font-weight: 700;
  line-height: 3.2rem;
}
header .textbox_header h1 span {
  text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
  color: black;
}
header .textbox_header p {
  font-family: work-sans;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 12px 0 17px 0;
}
header .header_bottom {
  display: flex;
  justify-content: space-between;
}
header .header_bottom button {
  color: white;
  background-color: #000000;
  border: 1px solid #AAAAAA;
  padding: 10px 30px;
  font-family: work-sans;
  font-weight: 400;
  font-size: 1.3rem;
  transition: all 0.2s;
}
header .header_bottom button:hover {
  color: black;
  background-color: #AAAAAA;
}

main section {
  background-color: black;
  color: white;
  padding: 10% 10% 5% 5%;
  position: relative;
}
main section h2 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 108px;
  font-family: inter;
  padding-block: 1.5rem;
}
main section h2:nth-of-type(1) {
  padding-bottom: 10%;
}
main section p {
  font-weight: 400;
  font-family: work-sans;
  font-size: 0.875rem;
}
main section img {
  position: absolute;
  top: 47%;
  width: 30%;
  right: 0;
}
main article {
  position: relative;
}
main article div {
  width: 32%;
  margin: 30% auto 0 auto;
  position: relative;
}
main article div h2 {
  font-weight: 700;
  line-height: 82.29px;
  font-family: inter;
  font-size: 5.2rem;
}
main article div p {
  font-family: work-sans;
  font-weight: 400;
  line-height: 29.62px;
  font-size: 1rem;
}
main article div p:nth-of-type(1) {
  padding: 5px 0 90vh 0;
}
main article div p:nth-of-type(2) {
  padding-bottom: 60vh;
}
main article img {
  position: absolute;
  width: 25%;
}
main article img:nth-of-type(1) {
  top: -30%;
  right: 6%;
}
main article img:nth-of-type(2) {
  top: -10%;
  left: 5%;
  width: 20%;
}
main article img:nth-of-type(3) {
  top: 13%;
  right: 0%;
  width: 20%;
}
main article img:nth-of-type(4) {
  top: 25%;
  left: 16%;
}
main article img:nth-of-type(5) {
  top: 40%;
  right: 10%;
}
main article img:nth-of-type(6) {
  top: 58%;
  left: 0%;
  width: 20%;
}
main article img:nth-of-type(7) {
  top: 75%;
  right: 20%;
  width: 30%;
  z-index: -2;
}
main .OOone {
  position: relative;
  color: white;
}
main .OOone .black_background {
  background-color: black;
  height: 150vh;
  width: 100%;
  position: absolute;
  top: -25vh;
  z-index: -1;
}
main .OOone .textbox_main {
  display: flex;
  padding-inline: 5%;
}
main .OOone .textbox_main div .number {
  font-family: work-sans;
  font-weight: 400;
  font-size: 1.234rem;
  padding-bottom: 20px;
}
main .OOone .textbox_main div h3 {
  font-family: inter;
  line-height: 82.29px;
  font-weight: 700;
  font-size: 5.2rem;
}
main .OOone .textbox_main .text {
  font-family: inter;
  font-weight: 700;
  line-height: 32.92px;
  font-size: 1.8rem;
  padding-top: 40px;
  padding-bottom: 20px;
}
main .OOone .textbox_main .artist {
  font-family: work-sans;
  line-height: 29.62px;
  font-weight: 400;
  font-size: 1.15rem;
}
main .OOone .textbox_main .textbox-left {
  width: 20%;
  padding-right: 45vw;
}
main .OOone .textbox_main .textbox-right {
  width: 40%;
}
main .OOone-images {
  position: relative;
  overflow-x: clip;
}
main .OOone-images img {
  position: absolute;
}
main .OOone-images img:nth-of-type(1) {
  width: 60vw;
  left: 5%;
  top: 15vh;
}
main .OOone-images img:nth-of-type(2) {
  width: 30vw;
  left: 55%;
  top: 35vh;
}
main .OOone-images img:nth-of-type(3) {
  width: 35vw;
  top: 75vh;
  right: -10vw;
  z-index: -1;
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
main .space {
  height: 140vh;
}
main .OOtwo {
  color: black;
  position: relative;
}
main .OOtwo .grey_background {
  background-color: rgb(232, 231, 231);
  height: 160vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
main .OOtwo .textbox_main {
  display: flex;
  padding-inline: 5%;
  padding-top: 2rem;
}
main .OOtwo .textbox_main div .number {
  font-family: work-sans;
  font-weight: 400;
  font-size: 1.234rem;
  padding-bottom: 20px;
}
main .OOtwo .textbox_main div h3 {
  font-family: inter;
  line-height: 82.29px;
  font-weight: 700;
  font-size: 5.2rem;
}
main .OOtwo .textbox_main .text {
  font-family: inter;
  font-weight: 700;
  line-height: 32.92px;
  font-size: 1.8rem;
  padding-top: 40px;
  padding-bottom: 20px;
}
main .OOtwo .textbox_main .artist {
  font-family: work-sans;
  line-height: 29.62px;
  font-weight: 400;
  font-size: 1.15rem;
}
main .OOtwo .textbox_main .textbox-left {
  width: 20%;
  padding-right: 45vw;
}
main .OOtwo .textbox_main .textbox-right {
  width: 40%;
}
main .OOtwo-images {
  position: relative;
}
main .OOtwo-images img {
  position: absolute;
}
main .OOtwo-images img:nth-of-type(1) {
  width: 60vw;
  right: 5%;
  top: 50vh;
}
main .OOtwo-images img:nth-of-type(2) {
  width: 30vw;
  left: 10%;
  top: 70vh;
}

footer {
  background-color: black;
  color: white;
  position: relative;
  top: 160vh;
  overflow: hidden;
}
footer .footer-textbox {
  width: 40%;
  padding-left: 5%;
  padding-block: 5%;
}
footer .footer-textbox p {
  font-family: work-sans;
  font-size: 0.75rem;
  font-weight: 400;
}
footer .footer-textbox h4 {
  font-family: inter;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 46px;
  padding-block: 1.5rem;
}
footer .footer-textbox button {
  color: white;
  background-color: #000000;
  border: 1px solid #AAAAAA;
  padding: 10px 30px;
  font-family: work-sans;
  font-weight: 400;
  font-size: 1.3rem;
  transition: all 0.2s;
}
footer .footer-textbox button:hover {
  color: black;
  background-color: #AAAAAA;
}
footer .footer-flex {
  display: flex;
  justify-content: space-between;
  padding-inline: 5% 15%;
  position: relative;
}
footer .footer-flex .social img {
  width: 20px;
  padding-bottom: 10px;
}
footer .footer-flex .social p {
  font-family: work-sans;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 0.75rem;
}
footer .footer-flex .footer-end img {
  width: 60px;
}
footer .footer-flex .line {
  position: absolute;
  top: -90vh;
  right: -50%;
  background-color: white;
  color: #000000;
  font-size: 6rem;
  animation-name: textscroll;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  text-wrap: nowrap;
}
footer .footer-flex .line span {
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  color: white;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes textscroll {
  0%, 100% {
    transform: rotate(45deg) translateX(60%);
  }
  50% {
    transform: rotate(45deg) translateX(0%);
  }
}

/*# sourceMappingURL=style.css.map */
